<form class="add-form">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" id="text" placeholder="Add task">
    </div>
    <div class="form-control">
        <label for="day">Day & Time</label>
        <input type="text" name="day" id="day" placeholder="Add day & time">
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Set reminder</label>
        <input type="checkbox" name="reminder" id="reminder">
    </div>
    <input type="submit" value="Save Task" class="btn-block">
</form>